body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    /* Add your styles for the main content here */
}

.footer {
    background-color: rgb(174, 118, 45);
    padding: 10px;
    margin-top: auto; 
}

.social {
    text-align: center;
}

.social a {
    font-size: 30px;
    padding: 5px;
    width: 30px;
    border: 1px solid rgb(158, 114, 114);
    margin: 5px;
}

.social a:hover {
    background-color: rgb(108, 65, 113);
}

.footer ul {
    text-align: center;
    list-style: none;
}

.footer ul li {
    display: inline-block;
    padding: 5px;
}

.footer ul li a {
    text-decoration: none;
    color: aqua;
}

.Copyright {
    text-align: center;
}
